body {
	background-color: lemonchiffon;
	font-family: Cardo, serif;
	line-height: 1.2;
	background-image: url("img/hammer-emoji-128px.png");
	background-position: top right;
	background-repeat: no-repeat;
}

._ {
	text-decoration: underline;
}

.highlight {
	background-color: yellow;
}

.center {
	margin:auto;
	border: black;
}

.center-img {
	width: 300px;
	height: 200px;
	display: block;
	margin: auto;
}

a:hover {
	background-color: bisque;
}